html, body, canvas {
  padding: 0px;
  margin: 0px;
}

#scoreboard {
  float: left;
  clear: both;
  position: absolute;
}

body {
  width: 100%;
}

#game-canvas {
  display: block;
  margin: auto;
}

h1.title {
  display: block;
  margin: auto;
  font-size: 60px;
  font-family: sans-serif;
  text-align: center;
}

.m-background {
  background: rgba(92, 88, 88, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.m-content {
  z-index: 2;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  background-color: white;
  padding: 1pc;
  border: 1px solid;
  border-radius: 5px;
}
