html, body, canvas {
  padding: 0px;
  margin: 0px;
}

#scoreboard {
  float: left;
  clear: both;
  position: absolute;
}

body {
  width: 100%;
}

#game-canvas {
  display: block;
  margin: auto;
}

h1 {
  display: block;
  margin: auto;
  font-size: 100px;
  font-family: sans-serif;
  text-align: center;
}
